Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override,
  cppcoreguidelines-init-variables

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
