Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override,
  cppcoreguidelines-init-variables

HeaderFilterRegex: '^(TWIST_Cpp)(/|\\)'
ExtraArgsBefore: ['-std=c++14']
ExtraArgs:
  - -fms-compatibility
  - -fms-extensions
  - -DUNICODE
  - -D_UNICODE
  - -Wno-pragma-pack
  - -Wno-pragma-once-outside-header
