# Build output directories
/bin/
/build/
/Debug/
/Release/
/x64/
/x86/

# Visual Studio user and cache files
/.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Intermediate compilation files
*.obj
*.idb
*.pdb
*.ilk
*.tlog
*.log

# Binary files
*.exe
*.dll
*.lib
*.exp

# Others
*.cache
*.ipch
